project:
  name: "REST_API_${ENV_TYPE}"

dev:
  host: localhost
  user: ${RDS_USER}
  pass: postgres
  database: postgres
  schema: gold
  port: 5432
docker_dev:
  host: postgres
  user: ${RDS_USER}
  pass: postgres
  database: postgres
  schema: gold
  port: 5432
prod:
  host: ${IP}
  user: ${RDS_USER}
  pass: ${RDS_PW}
  database: ${RDS_DB}
  schema: gold
  port: 17841
