[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
pydantic = "*"
psycopg2-binary = "*"
mangum = "*"
jinja2 = "*"
opentelemetry-instrumentation-fastapi = ""
opentelemetry-exporter-otlp = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
protobuf = "==3.20.0"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
