{% extends 'base.html' %}

{% block content %}

<div class="center-screen">
    <div class="admin-section text-success font-weight-bold">
        <h1> Admin Pages </h1>
        <br>
        <a href="/admin/feature_flags">Feature Flags Page</a>
        <br>
        <br>
        <a href="/admin/incidents">Incidents Page</a>
        <br>
        <br>
        <a href="/admin/feedback">Feedback Page</a>
        <br>
        <br>
        <a href="/login">Login Page</a>
    </div>
    <div class="admin-section">
        <h1> Admin Tasks </h1>
        <form id="invoke-dashboard-restart" class="admin-form" method="post" action="/invoke_dashboard_restart">
            <button type="submit">Restart Dashboard</button>
        </form>
        {% if admin_task_message %}
        <p> {{ admin_task_response_code }} - {{ admin_task_message }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}