<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="jyablonski">
    <meta name="description" content="REST API">

    <title>jyablonski REST API</title>

    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">

<body style="background-color:rgba(56, 63, 78, 0.699);">

    </head>
    {% block content %}

    {% endblock %}
    <nav class="navfoot">
        <div style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">
            &copy; 2023 | <a href="/">Home</a> | Version: 1.3.0
        </div>
    </nav>

</body>

</html>