<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="jyablonski">
    <meta name="description" content="REST API">

    <title>jyablonski REST API</title>

    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">

<body>

    </head>
    {% block content %}

    {% endblock %}
    <nav class="navfoot">
        <div style="text-align:center;">
            &copy; 2023
            <a href="/" class="home"><img id="home" src="{{ url_for('static', path='/home.png') }}"></a>
            Version: 1.5.0
        </div>
    </nav>

</body>

</html>