{% extends 'base.html' %}

{% block content %}

<form id="login-form" name="create_user_form" action="/login/create_user" method="post" enctype="multipart/form-data">
    <h1> Create a User </h1>
    <label>Username</label>
    <input type="text" required placeholder="Your username" name="username" value="{{username}}" class="form-control">

    <label>Password</label>
    <input type="password" required placeholder="Choose a secure password" value="{{password}}" name="password"
        class="form-control">

    <label>Email Address (Optional)</label>
    <input type="email" placeholder="Choose an optional email" value="{{email}}" name="email" class="form">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}