{% extends 'base.html' %}

{% block content %}
<center>
    <br>
    <h1 class="text-center my-3 pb-3">Feature Flags Page</h1>
    <br>

    <h4>Current Feature Flags</h4>
    <div class="text-danger font-weight-bold">
        {{ feature_flag_error }}
    </div>
    <br>
    <table class="table">
        <form method="POST" action="/admin/feature_flags" enctype="multipart/form-data">
            <thead>
                <tr>
                    <th scope="col">Flag</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Created</th>
                    <th scope="col">Update Flag</th>
                </tr>
            </thead>
            <tbody>
                {% for flag in feature_flags %}
                <tr>
                    <th scope="row">{{ flag.flag }}</th>
                    <td>{{ flag.is_enabled }}</td>
                    <td>{{ flag.created_at }} UTC</td>
                    <td>
                        <select name="feature_flag_list" id="feature_flag_list">
                            {% for choice in [0, 1] %}
                            <option value="{{ choice }}" {% if choice==flag.is_enabled %} selected {% endif %}>
                                {{ choice }}
                                {% endfor %}
                            </option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>


    <br>
    <br>
    <br>
    <br>

    <h4> New Feature Flags </h4>
    <table class="table">
        <form method="POST" action="/admin/feature_flags/create" enctype="multipart/form-data">
            <thead>
                <tr>
                    <th scope="col">Flag</th>
                    <th scope="col">Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" value="" class="form-control" name="feature_flag_name_form">
                    </td>
                    <td>
                        <input type="number" min="0" max="1" value="1" class="form-control"
                            name="feature_flag_is_enabled_form">
                    </td>
                </tr>
            </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>

{% endblock content %}