{% extends 'base.html' %}

{% block content %}

<h3 class="post-title"><b>REST API Serving Data for NBA ELT Pipeline Project</b></h3>
<p>
  <br>
  <br>
<h2> GET Endpoints </h2>
<h4> <a href="/v1/league/predictions">Daily Win Predictions</a> </h4>
<h4> <a href="/v1/league/schedule">Daily Schedule</a> </h4>
<h4> <a href="/v1/league/game_types">Game Types</a> </h4>
<h4> <a href="/v1/league/injuries">Injuries (All)</a> </h4>
<h4> <a href="/v1/teams/phi/injuries">Injuries (Team Specific)</a> </h4>
<h4> <a href="/v1/players/stats">Player Stats</a> </h4>
<h4> <a href="/v1/teams/den/players/stats">Player Stats (Team Specific)</a> </h4>
<h4> <a href="/v1/social/reddit/comments">Reddit Comments</a> </h4>
<h4> <a href="/v1/league/standings">Standings</a> </h4>
<h4> <a href="/v1/league/ratings">Team Ratings (All)</a> </h4>
<h4> <a href="/v1/teams/gsw/ratings">Team Ratings (Team Specific)</a> </h4>
<h4> <a href="/v1/league/transactions">Transactions</a> </h4>
<h4> <a href="/v1/social/twitter/comments">Twitter Comments</a> </h4>
<h4> <a href="/internal/feedback">Feedback</a> </h4>
<h4> <a href="/help">Help</a> </h4>
<h4> <a href="/login">Login</a> </h4>
<br>
<br>
</p>

{% endblock %}
