{% extends 'base.html' %}

{% block content %}

<h3 class="post-title"><b>REST API Serving Data for NBA ELT Pipeline Project</b></h3>
<p>
  <br>
  <br>
  <h2> GET Endpoints </h4>
    <h4> <a href="/predictions">Daily Predictions</a> </h1>
    <h4> <a href="/schedule">Daily Schedule</a> </h1>
    <h4> <a href="/game_types">Game Types</a> </h1>
    <h4> <a href="/injuries">Injuries (All)</a> </h1>
    <h4> <a href="/injuries/GSW">Injuries (Team Specific)</a> </h1>
    <h4> <a href="/player_stats">Player Stats</a> </h1>
    <h4> <a href="/reddit_comments">Reddit Comments</a> </h1>
    <h4> <a href="/standings">Standings</a> </h1>
    <h4> <a href="/team_ratings">Team Ratings (All)</a> </h1>
    <h4> <a href="/team_ratings/GSW">Team Ratings (Team Specific)</a> </h1>
    <h4> <a href="/transactions">Transactions</a> </h1>
    <h4> <a href="/twitter_comments">Twitter Comments</a> </h1>
    <h4> <a href="/feedback">Feedback</a> </h1>
    <h4> <a href="/help">Help</a> </h1>
    <h4> <a href="/login">Login</a> </h1>
    <br>
    <br>
</p>

{% endblock %}