{% extends "base.html" %}

{% block content %}
<center>

   <div class="header-container">
      <h4 class="text-center my-3 pb-3">{{ username }}</h4>
      <h1 class="text-center my-3 pb-3">NBA User Prediction Past Bets Page</h1>
   </div>

   <table class="general-table">
      <thead>
         <tr>
            <th scope="col">Total Correct Predictions</th>
            <th scope="col">Total Predictions</th>
            <th scope="col">% Correct</th>
            <th scope="col">Total Profit</th>
            <th scope="col">Total TBD Predictions</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td> {{ past_predictions_success_count }} </td>
            <td> {{ past_predictions_total_count }} </td>
            <td> {{ (past_predictions_pct_count * 100)|round(3) }}% </td>
            <td> $ {{ past_predictions_bet_profit }} </td>
            <td> {{ current_predictions_total_count }} </td>
            </th>
         </tr>
      </tbody>
   </table>

   <br>
   <br>
   <br>

   <table class="general-table">
      <thead>
         <tr>
            <th scope="col">Game Date</th>
            <th scope="col">Home Team</th>
            <th scope="col">Home Team Odds</th>
            <th scope="col">Home Predicted Win %</th>
            <th scope="col">Away Team</th>
            <th scope="col">Away Team Odds</th>
            <th scope="col">Away Predicted Win %</th>
            <th scope="col">Bet Amount</th>
            <th scope="col">Selected Winner</th>
            <th scope="col">Actual Winner</th>
            <th scope="col">Correct Prediction</th>
            <th scope="col">Bet Profit</th>
         </tr>
      </thead>
      <tbody>
         {% for game in past_predictions %}
         <tr>
            <td>{{ game.game_date }}</td>
            <td>{{ game.home_team }}</td>
            <td>{{ game.home_team_odds }}</td>
            <td>{{ (game.home_team_predicted_win_pct * 100)|round(3) }}% </td>
            <td>{{ game.away_team }}</td>
            <td>{{ game.away_team_odds }}</td>
            <td>{{ (game.away_team_predicted_win_pct * 100)|round(3) }}% </td>
            <td>${{ game.bet_amount }}</td>
            <td>{{ game.selected_winner }}</td>
            <td>{{ game.actual_winner }}</td>
            <td>{{ game.is_correct_prediction }}</td>
            <td>{{ game.bet_profit }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>

   <br>
   <br>
   {% if past_predictions_total_count >= 0 %}
   <form id="download-button" class="bets-download" method="post" action="/past_bets">
      <button type="submit"">Download</button>
   </form>
   {% endif %}
   <br>
   <a href="/bets">Tonight's Bets Page</a>
   <br>
   <br>
   <br>
   <br>
   <br>
</center>
{% endblock content %}