{% extends "base.html" %}

{% block content %}
<table class="table mb-4">
    <thead>
       <tr>
          <th scope="col">Game Date</th>
          <th scope="col">Home Team</th>
          <th scope="col">Home Team Odds</th>
          <th scope="col">Home Predicted Win %</th>
          <th scope="col">Away Team</th>
          <th scope="col">Away Team Odds</th>
          <th scope="col">Away Predicted Win %</th>
          <th scope="col">Selected Winner</th>
          <th scope="col">Actual Winner</th>
          <th scope="col">Correct Prediction</th>
       </tr>
    </thead>
    <tbody>
       {% for game in past_predictions %}
       <tr>
          <th scope="row">{{game.game_date }}</th>
          <td>{{ game.home_team }}</td>
          <td>{{ game.home_team_odds }}</td>
          <td>{{ (game.home_team_predicted_win_pct * 100)|round(3) }}% </td>
          <td>{{ game.away_team }}</td>
          <td>{{ game.away_team_odds }}</td>
          <td>{{ (game.away_team_predicted_win_pct * 100)|round(3)}}% </td>
          <td>{{ game.selected_winner }}</td>
          <td>{{ game.actual_winner }}</td>
          <td>{{ game.is_correct_prediction }}</td>
       </tr>
       {% endfor %}
    </tbody>
 </table>
{% endblock content %}