{% extends 'base.html' %}

{% block content %}
<center>
    <br>
    <h1 class="text-center my-3 pb-3">Team Events Page</h1>
    <br>

    <h4>Team Events</h4>
    <div class="text-danger font-weight-bold">
        {{ incident_error }}
    </div>
    <br>
    <table class="table">
        <form method="POST" action="/admin/team_events" enctype="multipart/form-data">
            <thead>
                <tr>
                    <th scope="col">Incident</th>
                    <th scope="col">Description</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <th scope="row">{{ incident.incident_name }}</th>
                    <td>{{ incident.incident_description }}</td>
                    <td>{{ incident.modified_at.strftime('%Y-%m-%d %H:%M:%S') }} UTC</td>
                    <td>
                        <select name="incident_list" id="incident_list">
                            {% for choice in [0, 1] %}
                            <option value="{{ choice }}" {% if choice==incident.is_active %} selected {% endif %}>
                                {{ choice }}
                                {% endfor %}
                            </option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>


    <br>
    <br>
    <br>
    <br>

    <h4> New Event </h4>
    <table class="table">
        <form method="POST" action="/admin/team_events/create" enctype="multipart/form-data">
            <thead>
                <tr>
                    <th scope="col">Incident</th>
                    <th scope="col">Description</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" value="" class="form-input-table" name="incident_name_form">
                    </td>
                    <td>
                        <input type="text" value="" class="form-input-table" name="incident_description_form">
                    </td>
                    <td>
                        <input type="number" min="0" max="1" value="1" class="form-control"
                            name="incident_is_active_form">
                    </td>
                </tr>
            </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>

{% endblock content %}