{% extends 'base.html' %}

{% block content %}
<center>
    <br>
    <h1 class="text-center my-3 pb-3">Team Events Page</h1>
    <br>

    <h4>Team Events</h4>
    <div class="text-danger font-weight-bold">
        {{ incident_error }}
    </div>
    <br>
    <table class="table">
        <form method="POST" action="/admin/team_events" enctype="multipart/form-data">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Team</th>
                    <th scope="col">Event</th>
                    <th scope="col">Event Date</th>
                    <th scope="col">Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <th scope="row">{{ event.id }}</th>
                    <td>{{ event.team }}</td>
                    <td>{{ event.event }}</td>
                    <td>{{ event.event_date }}</td>
                    <td>{{ event.modified_at.strftime('%Y-%m-%d %H:%M:%S') }} UTC</td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>


    <br>
    <br>
    <br>
    <br>

    <h4> New Event </h4>
    <table class="table">
        <form method="POST" action="/admin/team_events/create" enctype="multipart/form-data">
            <thead>
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Event</th>
                    <th scope="col">Event Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" value="" class="form-input-table" name="team_form">
                    </td>
                    <td>
                        <input type="text" value="" class="form-input-table" name="event_form">
                    </td>
                    <td>
                        <input type="date" value="" class="form-control" name="event_date_form">
                    </td>
                </tr>
            </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>

{% endblock content %}