replicaCount: 3

image:
  repository: your-registry/nba_elt_rest_api
  pullPolicy: Always
  tag: "v1.0.0"

service:
  type: LoadBalancer
  port: 8080

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

resources:
  limits:
    cpu: 1000m
    memory: 4Gi
  requests:
    cpu: 2000m
    memory: 2Gi

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: api.jyablonski.dev
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: nba-api-tls
      hosts:
        - api.jyablonski.dev

secrets:
  # set `""` secrets via external secrets
  apiKey: ""
  envType: "production"
  otelHeaders: ""
  otelServiceName: "nba-elt-rest-api-prod"
  rdsHost: ""
  rdsUser: ""
  rdsPassword: ""
  rdsDb: "nba_prod"
  rdsSchema: "prod_schema"
  redisUrl: ""
