name: Jacob's REST API Deployment

on:
  push:
    branches:
      - master

env:
  BUCKET_NAME: ${{ secrets.AWS_BUCKET }}
  IAM_ROLE: ${{ secrets.IAM_ROLE }}
  AWS_REGION: "us-east-1"
  PYTHON_VERSION: "3.12"

# permission can be added at job level or workflow level
permissions:
  id-token: write
  contents: read # This is required for actions/checkout

jobs:
  cd_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v3

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE }}
          role-session-name: rest-api-cicd
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Zip Files
        run: |
          make install-packages-r
          make zip

      - name: Deploy to S3
        env:
          aws_bucket: ${{ secrets.AWS_BUCKET }}
        run: |
          aws s3 cp lambda_function.zip s3://$aws_bucket/rest-api/

      - name: Update Lambda Function from S3
        env:
          aws_bucket: ${{ secrets.AWS_BUCKET }}
        run: |
          aws lambda update-function-code --function-name jacobs_rest_api_lambda --s3-bucket $aws_bucket --s3-key rest-api/lambda_function.zip

  notify:
    needs: [cd_pipeline]
    if: always() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Slack Alert
        uses: jyablonski/actions/alert@v1
        with:
          status: ${{ contains(needs.*.result, 'failure') && 'failure' || 'success' }}
          webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
