name: REST API Test Pipeline

on:
  pull_request:

env:
  IP: localhost
  RDS_USER: postgres
  RDS_PW: postgres
  RDS_DB: postgres
  RDS_SCHEMA: marts
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PYTHON_VERSION: "3.12"
  UV_VERSION: "0.8.10"

jobs:
  test:
    name: Test Pipeline
    runs-on: ubuntu-latest

    # running tests on bare metal rather than docker to enable
    # caching of the uv environment
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          prune-cache: false

      - name: Start Postgres
        run: make start-postgres

      - name: Run Tests
        env:
          ENV_TYPE: dev
        run: |
          uv run pytest \
            --cov=src \
            --cov-report=term \
            --cov-report=xml:coverage.xml \
            --color=yes

      - name: Run Locust Swarm
        env:
          ENV_TYPE: dev
        run: |
          uv run locust \
            -f .github/scripts/locust_load_test.py \
            --headless \
            --host=http://localhost:8080 \
            --run-time 60s

      - name: Coveralls
        run: uv run coveralls

      - name: Stop Postgres
        run: make stop-postgres
